!!!
%html{:'ng-app' => 'checklists'}
  %head
    %script{:src => 'angular.js'}
    %script{:src => 'checklists-controller.js'}
    %script{:src => 'category-container.js'}
    %script{:src => 'category.js'}
    %script{:src => 'cordova.js'}
    %script{:src => 'index.js'}
    %link{:rel => 'stylesheet', :href => 'style.css'}
    %title Checklists Demo
  %body
    .checklist{:'ng-controller' => 'ChecklistsController'}
      .header
        .title
          .name='{{activeCategory.name}}'
          .description='{{activeCategory.description}}'
        .completion
          .percentage='{{complete_percentage(activeCategory)}}%'
          .count='{{complete_count(activeCategory)}}/{{activeCategory.items.length}} complete'
      .container{:container => ''}
        .category{:'ng-repeat' => 'category in categories', :class => 'blb'}
          .header{:category => 'category', :'ng-show' => 'category != activeCategory', :id => '{{category.name}}'}
            .title
              .name='{{category.name}}'
              .description='{{category.description}}'
            .completion
              .percentage='{{complete_percentage(category)}}%'
              .count='{{complete_count(category)}}/{{category.items.length}} complete'
          %ul
            %li.item{:'ng-repeat' => 'item in category.items'}
              .description='{{item.description}}'
              .status='{{item.status}}'

    :javascript
      app.initialize();