!!!
%html{:'ng-app' => 'checklists'}
  %head
    %script{:src => 'angular.js'}
    %script{:src => 'checklists-controller.js'}
    %script{:src => 'jquery-1.10.2.js'}
    %script{:src => 'jquery.list.js'}
    %script{:src => 'checklist.js'}
    %link{:rel => 'stylesheet', :href => 'style.css'}
    %title Checklists Demo
  %body
    .checklist{:'ng-controller' => 'ChecklistsController'}
      .magic{:'ng-click' => 'magic()' }='Make magic happen'
      %ul
        %li.header{:'ng-repeat-start' => 'category in categories'}
          .title
            .name='{{category.name}}'
            .description='{{category.description}}'
          .completion
            .percentage='{{complete_percentage(category)}}%'
            .count='{{complete_count(category)}}/{{category.items.length}} complete'
        %li.item{:'ng-repeat' => 'item in category.items', :'ng-repeat-end' => ''}
          .description='{{item.description}}'
          .status='{{item.status}}'